<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Vice Versa home page!</h1>
    <form action="">
        <textarea name="usertext" id="" cols="50" rows="10">
            So, i gonna try work with forms on Django.
        </textarea>
        <br>
        <br>
        <input type="submit" value="Reverse!">
    </form>
</body>
</html>